@import '../../../config-scss/rem-calc.scss';
@import '../../../config-scss/variables.scss';

:host {
	main {
		margin-top: rem-calc(40);

		.pokemon__names {
			position: relative;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;

			height: 75px;

			padding: 0 rem-calc(30);

			h1 {
				color: var(--branco);
				font-size: rem-calc(32);
				text-transform: capitalize;
			}

			h2 {
				position: absolute;
				font-weight: 100;
				top: 0;
				font-size: rem-calc(60);
				color: rgba(255, 255, 255, 0.1);
			}

			
		}

		.pokemon__status {
			position: relative;

			img {
				position: relative;
				top: rem-calc(-90);
				left: rem-calc(30);
				width: rem-calc(150);
			}

        .pokemon__data{
            font-size: rem-calc(25);
			background-color: var(--branco);
			border-radius: rem-calc(30);
			margin-top: rem-calc(-180);
			

            h3{ 
				position: absolute;
				margin: rem-calc(30) rem-calc(20);
                color: var(--secondary-color);
				justify-content: flex-start;
				align-items: center;
				font-weight: 600;
				font-style: oblique;
            }

			ol{
				display: flex;
				flex-direction: column;
				align-items: left;
				justify-content: flex-start;
				
				margin: rem-calc(70) rem-calc(10) rem-calc(10) ;
				padding:rem-calc(80) rem-calc(10) rem-calc(50) rem-calc(10);
								

				font-family: sans-serif;
				text-transform: capitalize;
				color: black;
				line-height: rem-calc(45);
				
			}

					

			}
			.btn__secondary{
				margin: rem-calc(-250) rem-calc(10) rem-calc(10) rem-calc(400);
				position: absolute;
				scale: 40%;
			} 
			
			
            }

		
	}
}