<div class="poketeam">
    <!-------------------------Venasuar--------------------------->
  <section class="lista">
    <a class="pokemon" href="details/3">
      <section class="pokemon__status">
        <h2>Venasaur</h2>
  </section>
  <section class="pokemon__image">
        <img class="pokemon-img" src="../../../assets/team-imgs/venusaur.gif" alt="Venasaur" />
  </section>
    </a>
  </section>
  <!-----------------------------Arcanine--------------------------->
  <section class="lista" >
    <a class="pokemon" href="details/59" >
      <section class="pokemon__status">
          <h2>Arcanine</h2>
  </section>
  <section class="pokemon__image">
        <img class="pokemon-img" src="../../../assets/team-imgs/arcanine.gif" alt="Arcanine" />
  </section>
    </a>
  </section>
  <!----------------------------Jolteon----------------------------->
  <section class="lista">
    <a class="pokemon" href="details/135">
     <section class="pokemon__status">
          <h2>Jolteon</h2>
    </section>
    <section class="pokemon__image">
          <img class="pokemon-img" src="../../../assets/team-imgs/jolteon.gif" alt="Jolteon" />
    </section>
    </a>
  </section>
  <!----------------------------Lapras------------------------------->
  <section class="lista">
    <a class="pokemon" href="details/131">
     <section class="pokemon__status">
          <h2>Lapras</h2>
    </section>
    <section class="pokemon__image">
           <img class="pokemon-img" src="../../../assets//team-imgs/lapras.gif" alt="Lapras" />
    </section>
    </a>
  </section>
  <!----------------------------Alakazam------------------------------->
  <section class="lista">
    <a class="pokemon" href="details/65">
     <section class="pokemon__status">
        <h2>Alakazam</h2>
    </section>
    <section class="pokemon__image">
           <img class="pokemon-img" src="../../../assets/team-imgs/alakazam.gif" alt="Alakazam" />
    </section>
    </a>
  </section>
  <!----------------------------Gengar------------------------------->
  <section class="lista">
    <a class="pokemon" href="details/94" >
     <section class="pokemon__status">
        <h2>Gengar</h2>
    </section>
    <section class="pokemon__image">
          <img class="pokemon-img" src="../../../assets/team-imgs/gengar-3.gif" alt="" />
    </section>
    </a>
  </section>
  </div>
