@import '../../../config-scss/rem-calc.scss';

$padding: rem-calc(10);

:host{
    .poketeam{
        display: flex;
        flex-direction: row;
    }
   .lista{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
    padding: $padding 0;

    .pokemon{
        position: relative;
        display: flex;
        background-color: var(--branco);
        height: 150px;
        width: 150px;
        
        
        
        margin-bottom: rem-calc(10);
        padding: $padding;        
        
        border-radius: rem-calc(5);

        text-decoration: none;
        color: var(--primary-color);

        &__status{
            h2{
                font-size: rem-calc(22);
                font-style: italic;
                font-weight: 700;
                text-transform: capitalize; 
                
                margin-bottom: rem-calc(10);
            }

            ul{
                display: flex;
                flex-direction: column;

                li{
                  background: var(--cinza);
                  font-size: rem-calc(10);

                  display: flex;
                  justify-content: center;
                  align-items: center;

                  border-radius: rem-calc(50);

                  width: rem-calc(60);
                  margin-bottom: rem-calc(5);
                }
            }
           }

           &__image{
            position: absolute;

            display: flex;
            align-items: center;
            justify-items: center;

            height: rem-calc(90);
            width: rem-calc(110);

            margin: 50px 0 0 42px;

            background: url(../../../assets/bg/backgorund-list-pokemon.svg) no-repeat;

            
           }
          }      
   }
}