<poke-header></poke-header>
<div class="poketeam">
  <!-------------------------Venasuar--------------------------->
<section class="lista">
      <a class="pokemon">
        <section class="pokemon__status">
          <h2>
           Venasaur 
          </h2>
        </section>
        
       <section class="pokemon__image">
         <img class="pokemon-img" src="../../../assets/venusaur.gif" alt="Venasaur" />
        </section>
      </a>
      </section>

  <!-------------------------------------------------------->

      <section class="lista">
     
        <a class="pokemon">
          <section class="pokemon__status">
            <h2>
             Arcanine 
            </h2>
       
            <ul>
               <li>Fire </li>
               <li>Flying</li>
            </ul>
          </section>
       
         <section class="pokemon__image">
           <img class="pokemon-img" src="../../../assets/arcanine.gif" alt="Arcanine" />
          </section>
        </a>
        </section>

        <section class="lista">
     
          <a class="pokemon">
            <section class="pokemon__status">
              <h2>
               Jolteon 
              </h2>
         
              <ul>
                 <li>Fire </li>
                 <li>Flying</li>
              </ul>
            </section>
         
           <section class="pokemon__image">
             <img class="pokemon-img" src="../../../assets/jolteon.gif" alt="Jolteon" />
            </section>
          </a>
          </section>
          <section class="lista">
     
            <a class="pokemon">
              <section class="pokemon__status">
                <h2>
                 Lapras 
                </h2>
           
                <ul>
                   <li>Fire </li>
                   <li>Flying</li>
                </ul>
              </section>
           
             <section class="pokemon__image">
               <img class="pokemon-img" src="../../../assets/lapras.gif" alt="Lapras" />
              </section>
            </a>
            </section>

            <section class="lista">
     
              <a class="pokemon">
                <section class="pokemon__status">
                  <h2>
                   Alakazam 
                  </h2>
             
                  <ul>
                     <li>Fire </li>
                     <li>Flying</li>
                  </ul>
                </section>
             
               <section class="pokemon__image">
                 <img class="pokemon-img" src="../../../assets/alakazam.gif" alt="Alakazam" />
                </section>
              </a>
              </section>

              <section class="lista">
     
                <a class="pokemon">
                  <section class="pokemon__status">
                    <h2>
                     Gengar 
                    </h2>
               
                    <ul>
                       <li>Fire </li>
                       <li>Flying</li>
                    </ul>
                  </section>
               
                 <section class="pokemon__image">
                   <img class="pokemon-img" src="../../../assets/gengar-3.gif" alt="" />
                  </section>
                </a>
                </section>
              </div>
<main>
    <poke-list></poke-list>
</main>

